.*
!/.gitignore

*.e4p
*.pyc
*.pyo
*.orig
*.bak
*.rej
*~
cur/
tmp/
__pycache__/
*.DS_Store
Ui_*
ui_*
*.swp
*.egg*
version.py

/build
/dist

/htmlcov/
*.pro
*.qm
/qtimgren/resource.py
rc_qtimgren.py
/file_version_info.txt

/venv
.idea