.eric6project/
.ropeproject/
.directory/
*.e4p
*.pyc
*.pyo
*.orig
*.bak
*.rej
*~
cur/
tmp/
__pycache__/
*.DS_Store
Ui_*
*.swp
*.egg*
version.py

/build
/dist

/.coverage
/htmlcov/
*.pro
*.qm
/qtimgren/resource.py
/file_version_info.txt

/venv
.idea