.eric6project/
.ropeproject/
.directory/
*.e4p
*.pyc
*.pyo
*.orig
*.bak
*.rej
*~
cur/
tmp/
__pycache__/
*.DS_Store
Ui_*
*.swp
*.egg-info
version.py

/.coverage
/htmlcov/
*.pro
*.ts
*.qm
/qtimgren/resource.py
